.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    background: var(--background-clr-blocks);
}

.logo {

    justify-self: start;
    margin-left: 64px;
    padding: 26px 0;
}

.navigation {
    justify-self: center;
}

.listNavigation {
    display: flex;
    gap: 32px;
}
