.header {
    position: relative;
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    background: var(--background-clr-blocks);

    gap: 450px;
}

.logo {
    margin-left: 64px;
    padding: 26px 0;
}
.navigation {
   margin-right: 500px;
}

.listNavigation {
    display: flex;
    gap: 32px;
}

.listNavigationItem {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}
.link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover{
    color: var(--btn-primary);
}